/*universal styles for the entire site*/

 * {
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
 }

 html,
 body, {
margin: 0;
padding: 0;
width:100%;
height:100%;
}

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

/* Nav Styles*/
#nav-side-menu {
  overflow: auto;
  font-size:1.05em;
  font-weight:400;
  background-color: #b9bbc8;
  position: fixed;
  top:0;
  width:300px;
  height: 100%;
  color:#212025;
  text-align: center;
}

#nav-side-menu .logo {
  background-color: #b9bbc8;
  padding: 50px;
  line-height: 300px;
  display: block;
  text-align: center;
  font-size: 14px;
}

#nav-side-menu .toggle-btn {
  display: none;
}

#nav-side-menu ul,
#nav-side-menu li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height:75px;
  cursor: pointer;
}

#nav-side-menu ul .active,
#nav-side-menu li .active {
  border-left: 4px solid #613378;
  background-color: #737784;
   
}

#nav-side-menu li {
  border-left: 3px solid #b9bbc8;
  border-bottom: 2px solid #fff;
}

#nav-side-menu li a {
  font-size: 1.25em;
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
}

#nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

#nav-side-menu li:hover {
  background-color: #514759;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

#nav-side-menu .social{
 margin:20px 0 10px;  
 padding:10px;
}

/* End of Nav Styles*/

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

i {
    display: inline-block;
    font-size: 2.33em;
    line-height: 2.75em;
    vertical-align: -5%;
    color: #fff;
}

#image-section {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://res.cloudinary.com/angiemjohnson/image/upload/v1487270694/surface_sexco5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height:102vh;
    margin-top:-10px;
}

#image-section h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 5em;
    transform: translate(-50%, -50%);
}

#image-section p a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 40%);  
}

#image-section .btn {
    background: transparent !important;
    border:1px solid #fff;
}

#content-section {
    background-color: #eeeaeb;
    width: 100%;
    height: auto;
    padding-bottom:100px;
    color: #7c7b7b;
}

#homepage-row {
    padding-top:40px;
}

.section-heading{
    font-size: 300%;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #7c7b7b;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.info-left p {
    font-size: 1.75em;
    line-height:150%;
}

.info-left p::first-letter {
    font-size:200%;
    font-weight: bold;

}

.info-left .active {
    margin:20px auto;
    position:relative;
    top:54%; 
    left:32%;    
}

.btn-holder {
    margin: 30px;
    
}

.inner-circle {
    position: relative;
    width: 350px;
    height: 350px;
    background-color: transparent;
    z-index: 0;
    margin: 60px auto;
    
}

.inner-circle .border {
    background-color: transparent;
    position: absolute;
    width: 350px;
    height: 350px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    border: 5px dashed #a090b0;
    -webkit-animation: Rotate 10s linear infinite;
    -moz-animation: Rotate 10s linear infinite;
    -o-animation: Rotate 10s linear infinite;
    animation: Rotate 10s linear infinite;
}

#image-circle-1 {
    width:128px;
    height:128px;
    position: absolute;
    right: 35%;
    top: -10%;
}

#image-circle-2 {
    width:128px;
    height:128px;
    position: absolute;
    top: 30%;
    right: -10%;
}

#image-circle-3 {
    width:128px;
    height:128px;
    position: absolute;
    top: 30%;
    left: -13%;
}

#image-circle-4 {
    width:128px;
    height:128px;
    position: absolute;
    top: 80%;
    right: 35%;
}

img {
    display: block;
    max-width: 100%;
}

@-webkit-keyframes Rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes Rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes Rotate {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

#call-to-action {
    width: 100%;
    height: 147px;
    background-color: #a090b0;
}

#cta-statement {
    font-size: 1.5em;
    font-weight: bolder;
    color: #fff;
    padding:10px;
}

.btn-default {
    background-color: #514759;
    padding: 10px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color: #514759;
    color: #fff;
    font-weight: bold;   
}


/*Media Queries for Small, Medium Devices*/
@media (max-width: 767px) {
    
  #nav-side-menu {
    position: relative;
    width: 100%;
    height:auto;
  }

  #nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    padding: 3px;
    background-color: #514759;
    color: #fff;
    width: 40px;
    text-align: center;
  }

  .logo {
    font-size: 22px;
    padding-left: 20px;
    padding-bottom: 0;  
  }

  h1 {
      font-weight:200;
      font-size: 40px !important;
  }

  #content-section {
      height:auto;
  }

  .info-left .active {
    margin:15px auto;
    position:relative;
    top:50%; 
    left:25%;    
}

  .inner-circle {
	position: relative;
	width:250px;
	height:250px;
	background-color:transparent;
	margin:40px auto;
  }

.inner-circle .border {
	background-color: transparent;
	position: absolute;
	width: 250px;
	height: 250px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	border: 5px dashed #a090b0;
	-webkit-animation: Rotate 10s linear infinite;
	-moz-animation: Rotate 10s linear infinite;
	-o-animation: Rotate 10s linear infinite;
	animation: Rotate 10s linear infinite;
  }

  #image-circle-1 {
    width:64px;
    height:64px;
    position: absolute;
    right: 37%;
    top: -10%;
}

#image-circle-2 {
    width:64px;
    height:64px;
    position: absolute;
    top: 30%;
    right: -10%;
}

#image-circle-3 {
    width:64px;
    height:64px;
    position: absolute;
    top: 30%;
    left: -10%;
}

#image-circle-4 {
    width:64px;
    height:64px;
    position: absolute;
    top: 85%;
    right: 38%;
}

.btn-default {
    margin-top:-10px;
}

.info-left p {
    font-size: 1.5em;
    line-height:150%;
    padding-left:10px;
}

#footer-logo {
    padding-top: 20px;
}

.about-info p {
    font-size: 1.5em;
    padding-bottom: 20px;
}


.row .services-details {
    margin-top:-20px;
    margin-bottom:-10px;
 }

.services-details h2 {
    padding-top: 10px;
}

.thumbnail p {
    font-size: xx-small;
}

.project-image {
    opacity: 1;
    display: block;
    width:100%;
    height: auto;
    margin: 0 auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

}

@media (min-width: 767px) and (max-width:1024px) {
    #nav-side-menu {
    position: relative;
    width: 100%;
    height:auto;
    font-family: 'Raleway', sans-serif;
    background-color:#b9bbc8;
    color:#212025;
    text-align: center;
    font-weight:bolder;
  }

    #nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    padding: 3px;
    background-color: #514759;
    color: #fff;
    width: 40px;
    text-align: center;
  }

.logo {
    font-size: 22px;
    padding-left: 20px;  
  }

h1 {
      font-size: 40px !important;
  }

#content-section {
    min-height:100vh 
  }

  #image-circle-1 {
    width:128px;
    height:128px;
    position: absolute;
    right:34%;
    top: -10%;
}

#image-circle-2 {
    width:128px;
    height:128px;
    position: absolute;
    top: 32%;
    right: -15%;
}

#image-circle-3 {
    width:128px;
    height:128px;
    position: absolute;
    top: 30%;
    left: -15%;
}

#image-circle-4 {
    width:128px;
    height:128px;
    position: absolute;
    top: 80%;
    right: 32%;
}

.info-left .active {
    margin:15px auto;
    position:relative;
    top:50%; 
    left:35%;    
}

.info-left p {
    padding-top:50px;
    font-size: 1.5em;
    line-height:180%; 
 }

 #footer-logo {
    padding-top: 10px;
}

#about-img { 
    margin-top: 30px;
}

.about-info p {
    font-size: 1.5em;
    line-height: 155%;
    padding-bottom: 20px;
}

}

@media (min-width: 1025px) {
  #nav-side-menu .menu-list .menu-content {
    display: block;
  }

  #nav-side-menu {
  overflow: auto;
  font-family: 'Raleway', sans-serif;
  font-size:1.05em;
  font-weight:bolder;
  background-color:#b9bbc8;
  position: fixed;
  top:0px;
  width:300px;
  height: 100%;
  color:#212025;
  text-align: center;
    }

  .inner-circle {
	position: relative;
	width:350px;
	height:350px;
	background-color:transparent;
    margin:30px auto;
    margin-top:70px;
    }

.inner-circle .border {
	background-color: transparent;
	position: absolute;
	width: 350px;
	height: 350px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	border: 5px dashed #a090b0;
	-webkit-animation: Rotate 10s linear infinite;
	-moz-animation: Rotate 10s linear infinite;
	-o-animation: Rotate 10s linear infinite;
	animation: Rotate 10s linear infinite;
    }

.info-left p {
    margin-top:100px;
    font-size: 1.75em;
    line-height:150%; 
 }

 #content-section {
    background-color: #eeeaeb;
    width: 100%;
    height: auto;
    padding-bottom:100px;
    color: #7c7b7b;
 }
 
 .about-info p {
    padding-top:50px;
    font-size:1.75em;
    line-height: 150%;
}


  #middle-section {
  	width:calc(100% - 300px);
      float:right;
  }

  #footer-section {
  	width:calc(100% - 300px);
      float:right;
  }  

  .project-image {
    opacity: 1;
    display: block;
    width:70%;
    height: auto;
    margin: 0 auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

}

/* End of Media Queries*/

/* Footer Section*/
#footer-section {
    height: 150px;
    font-size: 1em;
    color: #fff;
}

#footer-container {
    background-color: #514759;
}

#bottom-logo a {
    color: #fff;
}

#footer-logo {
    margin-top: 10px;
}

#footer-contact-info {
    margin-top: 10px;

}

#footer-contact-info h6 {
    color: #fff;
    font-size: 1.20em;
}

.footer-contact-heading {
    font-weight: bolder;
}

address span {
    display: block;
    font-size: 1em;
}

address span a {
    color: #fff;
}

.footer-copyright {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
}
/* End of Footer Section*/

/*Styles for about page*/

#about-me-section {
    background-color: #eeeaeb;
    width: 100%;
    height: auto;
    min-height:100vh; 
    color: #7c7b7b;
    overflow: hidden;
}

.about-info {
  padding-top:50px;
}


.about-info p::first-letter {
    font-size: 300%;
    font-weight:bold;
}

#about-img .img-responsive {
    margin: 0 auto;
    
}

/*styles for services page*/

#services-content-section{
    background-color: #eeeaeb;
    width: 100%;
    height: auto;
    min-height:100vh; 
    color: #7c7b7b;
    padding-bottom: 20px;
    
}

.service-title {
    font-weight:bolder;
    font-size: 20px;
   
}

.service-content {
    font-size:18px;
    font-weight:400;
    padding-bottom: 140px;
}


/* styles for portfolio page*/

#portfolio-content-section {
    background-color: #eeeaeb;
    height:auto;
    min-height:100vh; 
    color: #7c7b7b;   
}

.example {
    position: relative;
    padding-top: 30px;    
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .example:hover .project-image {
    opacity: 0.3;
  }

  .example:hover .middle {
     opacity:1; 
  }
  
   h2 .text {
    color: #514759;
    font-size: 1.0em;
    font-weight:600;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }

  a.text:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
  }
 
  .text:hover:after {
    opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
  }

  #Image4 {
      padding-bottom: 50px;
  }


/*styles for contact page*/

#contact-image-section {
    background-image: url("https://res.cloudinary.com/angiemjohnson/image/upload/c_scale,w_1031/v1489283204/eric-rothermel-23788_pm4tqr.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    width: 100%;
    height: 30.5vh;
    opacity: 0.5;
}
#contact-section {
    height:650px;
    background-color: #eeeaeb;
}
.form-line {
    border-right: 1px solid #514759
}
.form-group {
    margin-top: 10px;
}
label {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}
.form-control {
    margin-bottom: 25px;
    font-size: 1.3em;
    color: #080808;
}
textarea.form-control {
    height: 135px;
}
.submit {
    font-size: 1.1em;
    float: right;
}
.container {
   min-width: 100%;
 }

 /*styles for 404 page*/

 .error-message {
     height: 100vh;
     padding-top: 200px;
     background-color: #eeeaeb;
     color: #7c7b7b;
     font-weight:400;
 }

 .error-message h1 {
     font-size: 50px;
     margin-top: 50px;

 }

 .error-message p {
     font-size: 1.5em;
 }

 .error-message .btn {
     margin-top: 20px;
 }
